<head>
    <meta charset="utf-8" />
</head>
<body>
  <a href="/">main page</a>
  <a href="/about/">about</a>
  <a href="/blog/">blog</a>

  <h1>my astro website</h1>
  <h1>my astro study website</h1>
  <p>i will share astro study journey</p>
</body>