---
import BaseLayout from '../layouts/BaseLayout.astro';
const pagetitle = "首页";
import BlogPost from '../components/BlogPost.astro';
import Greeting from '../components/Greeting';
---
<BaseLayout pagetitle={pagetitle}>
  <h2>我超棒的博客副标题</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
